.nav-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100%;
    height: 10vh;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(39, 134, 179, 0.5);
}
.navbar-logo img{
    height: 30px;
    margin-right: 20px;
    margin-left: 3rem;
}
.nav-icons{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
}
.nav-icons .active .MuiSvgIcon-root{
    color:#8f1f1b ;
}
.nav-icon .MuiSvgIcon-root{
    font-size: xx-large;
    /* background-color: white; */
    padding: 5px 20px;
    color: gray;
}
.nav-icon .MuiSvgIcon-root:hover{
    background-color: rgba(233, 233, 233, 0.5);
    border-radius: 10px;
    color: #b92b27;
}
 .nav-input{
    /* display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;*/
    position: relative;
    margin-right: 30px;
} 
.nav-input .search-questions{
    /* background-color: transparent;
    outline: none;
    border: none;
    color: rgb(49,49,49); */
    padding: 15px;
    height: 5px;
    width: 100%;
    font-size: 16px;
   
    border: 1px solid #c62828;
    /* border-bottom: 3px solid #c62828; */
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-input .search-btn{
    /* color: gray; */
    height: 15px !important;
    width: 15px !important;
    padding: 5px;
    color: #5f5e5e;
    background-color: #f4f4f4;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 220px;
}
/*.nav-bar{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.nav-bar .MuiSvgIcon-root{
    font-size: xx-large;
    color: gray;
    margin-left: 25px;
    cursor: pointer;
}
.nav-bar .MuiSvgIcon-root:hover{
    color: #b92b27;
}
.nav-bar button{
    color: #fff;
    background-color:#b92b27 ;
    border-radius: 22px;
    margin-left: 28px;
    padding: 10px;
    outline: none;
    border: none;
}
.nav-bar button:hover{
    color: #fff;
    background: #8f1f1b;
} */
.search-questions{
  margin-top: 7px;
  width: 10rem;
  height: 2rem;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: rgb(139, 139, 139) solid 1px;
  padding-left: 17px;
  border-right: 0px;
}

.search-btn{
  margin-top: 7px;
  width: 4rem;
  height: 2rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: rgb(139, 139, 139) solid 1px;
  border-left: 0px;
  color: rgb(185, 43, 39);
  background-color: white;
}
.search-btn:hover{
  background-color:  rgb(185, 43, 39);
  color: white

}
