.home{
  background-color:whitesmoke;
}

.home-content {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    /* margin-top: 50px; */
  }

  @media (max-width: 576px){
   .home-content{
    flex-direction: column;
   }
  }