.add_ques-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 90vh;
   background-color: whitesmoke;
}
.button-style{
    display: flex;

}

.ques-card{
    display: flex;
   justify-content: center;
}
.input-ques{
  width: 47rem;
  height: 25rem;
  border: #cecaca solid 1px;
  background: white;
  resize: none;
  padding-left: 1rem;
  padding-top: 1rem;
}
.input-ques::placeholder{
    color: #989898e9;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
@media (max-width:576px){
    .ques-card{
        flex-direction: column;
        margin-top: 5rem;
        width: 18rem;
        height: 20rem;
    }
    .input-ques{
    height: 15rem;
    width: 18rem;
    margin-left: .2rem;
     margin-top: 1rem;
    }
    .button-style{
        margin-left: 3rem; 
        margin-top: 27rem;
    }
}