.add_ques-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
   /* background-color: whitesmoke; */
}
.button-style{
    display: flex;
    position: absolute;
    justify-content: center;
    margin-left: 20rem; 
     margin-top: 23rem; 
}

.ques-card{
    display: flex;
    flex-direction: row;
    background-color: white;
    /* border: #bebdbd solid 1px; */
    border-radius: 10px;
    width: 40rem;
    height: 28rem;
    margin: 2rem;
}
.input-ques{
  margin-top: 3rem; 
  margin-right: 2rem;
  width: 47rem;
  height: 15rem;
  border: #cecaca solid 1px;
  background: white;
  border-radius: 1rem;
  resize: none;
  padding-left: 1rem;
  padding-top: 1rem;
}
.input-ques::placeholder{
    color: #989898e9;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.heading{
    margin-top: 1rem;
    margin-left: 2rem;
    /* margin-right: 10px; */
}
@media (max-width:576px){
    .ques-card{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        /* margin-left: 12rem; */
        width: 18rem;
        height: 20rem;
    }
    .input-ques{
   /* margin-left: .5rem;
   padding: 1rem;
    margin-top: 4rem;
    width: 16rem;
    height: 10rem; */
    height: 15rem;
    width: 18rem;
    margin-left: .2rem;
     margin-top: 1rem;
    }
    .heading{
        margin-top: 10px;
        /* margin-left: 1rem; */
    }
    .button-style{
        /* position: absolute; */
        margin-left: 2rem; 
        margin-top: 25rem;
    }
}