
.qa-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-top: -6rem;
  }
  
  .main {
    display: flex;
    background-color: whitesmoke;
    padding-bottom: 4rem;
  }
  
  .ptag {
    margin-left: 10px;
  }
  

  
  @media (max-width: 768px) {
    .qa-container {
      width: fit-content;
      /* margin-left: 6rem; */
      margin-top: 2rem;
      height: fit-content;
    }
  }
  
  @media (max-width: 576px) {
    .qa-container {
      width: fit-content;
      /* margin-left: 2rem; */
      margin-top: 4rem;
      height: fit-content;
    } 
  }
  