.btn{
    margin-left: 2rem;
    margin-top: 7px;
    width: 9rem;
    height: 2rem;
    border-radius: 7px;
    border: none;
   text-align: center;
   padding-left: 20px;
    background-color: rgb(179, 23, 18);
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.btn:hover{
    border: 2px solid rgb(179, 23, 18) ;
    /* background-color: rgb(100, 16, 14); */
    background-color: #fff;
    /* color:rgb(255, 255, 255) ; */
    color: black;
}
@media (max-width:576px){
    .btn{
        width: 6rem;
        height: 2.3rem;
        font-size: 18px;
        margin-left: 1rem;
    }
}