.btn{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    border: none;
   text-align: center;
   padding-left: 22px;
    background-color: rgb(179, 23, 18);
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.btn:hover{
    border: 2px solid rgb(179, 23, 18) ;
    background-color: #fff;
    color: black;
}
@media (max-width:576px){
    .btn{
        width: 6rem;
        height: 2.3rem;
        font-size: 18px;
        margin-left: 1rem;
    }
}