.footer {
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 8px 0px 7px rgba(0,0,0,0.1);
    align-items: center;
}

.copyright {
    color: #8f1f1b;
}