.QList{
    /* top: 1.2rem; */
     /* left: 15rem; */
     /* right: 9rem; */
     width: 50rem;
     height: fit-content;
     min-height: 50vh;
     background-color: #fff;
     box-shadow: 0px 5px 6px 2px rgb(190, 187, 187);
     position: relative;
     /* padding-bottom: 6rem; */
}

.list{
    padding: 2rem;
    display: flex;
    flex-direction: column;
   padding-bottom: 1rem;
}
.span-tags{
    color: blue;
    cursor: pointer;
}
h2{
    padding:10px ;
    padding-right: 40px;
    text-align: center;
    color: rgb(179, 23, 18);
}

.list p{
   padding-top: 15px;
    height: fit-content;
    overflow-wrap: break-word;
}
.list p:hover{
    color: red;
}

@media (max-width: 768px){
    .QList{
        width: fit-content;
        height: fit-content;
        /* top: 20rem; */
        right: 40px;
    }
   }
@media (max-width: 576px){
    .QList{
        width: fit-content;
        height: fit-content;
        /* top: 20rem; */
        right: 50px;
        bottom: 1rem;
    }
    
   }