
.ans-container {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-evenly;
  }
  
  .ans-card {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 35rem;
    height: 31rem;
    border: 1px solid rgb(168, 42, 42);
    /* border: #cecaca solid 1px; */
    background: white;
    resize: none;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 7px;
    box-shadow: 0px 5px 6px 2px rgb(190, 187, 187);
  }
  
  .ans-card::placeholder {
    color: #989898e9;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  
  .ans-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .selected-ques {
    margin-left: 10rem;
    margin-top: 5rem;
    font-size: xx-large;
    font-weight: 600;
    overflow-wrap: anywhere;
    height: auto;
    margin-bottom: -5rem;
    margin-right: 3rem;
  }
  
  .questionAns.active {
    color: red;
  }
  .select_quest_List{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30rem;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 5px 6px 2px rgb(190, 187, 187);
   /* padding-bottom: 3rem; */
   border-radius: 7px;
  }
  .select_quest_List h2{
    color: rgb(179, 23, 18);
  }
  @media (max-width: 768px) {
   
    .ans-container {
      flex-direction: column;
      align-items: center;
      padding-right: 2rem;
       width: 100%;
    }
    .ans-card {
      width: 100%;
     max-width: 30rem;
     height: 10rem; 
     margin-left: .1rem;
     margin-top: 1rem;
   }
  }
  @media (max-width: 576px) {
    .select_quest_List{
      width: fit-content;
        height: fit-content;
        margin-top: 1rem;
        margin-bottom: 20px;
        margin-left: 20px;
      padding-left: 2rem;
      padding-right: 2.5rem;
    }
    .ans-container {
      flex-direction: column;
      align-items: center;
      padding-right: 2rem;
       width: 100%;
    }
  
    .ans-card {
       width: 100%;
      max-width: 30rem;
      height: 10rem; 
      margin-left: .1rem;
      margin-top: 1rem;
    }
  
    .selected-ques {
      margin-left: 0.2rem;
      margin-top: 1rem;
      margin-bottom: 0;
      margin-right: 0;
      text-align: center;
    }
  
    .ans-btn {
      margin-top: 1rem;
    }
  }
  